<script>
  if (location.href.search(/#/) !== -1) location.href = '/';
</script>

<div data-role='page' id='home_page' data-add-back-btn='false'>

  <div data-role='header'>
    <h1>CodeMash 2014</h1>
    <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
  </div><!-- /header -->

  <div data-role='content'>
    <p class='notification'></p>

    <ul data-role='listview' data-inset='true'>
      <li><a class='favorites-link' href='#favorites'><%= image_tag('fav_on.png', width: '16', height: '16', class: 'ui-li-icon') %>Favorites</a></li>
      <li><a class='upcoming-link' href='#upcoming'>Upcoming Sessions</a></li>
      <li><a href='#search'>Search</a></li>
      <li><a href='#room_map'>Map</a></li>
    </ul>

    <ul data-role='listview' data-inset='true'>
      <li><a class='tuesday-link' href='#tuesday_sessions'>Tuesday</a></li>
      <li><a class='wednesday-link' href='#wednesday_sessions'>Wednesday</a></li>
      <li><a class='thursday-link' href='#thursday_sessions'>Thursday</a></li>
      <li><a class='friday-link' href='#friday_sessions'>Friday</a></li>
    </ul>

    <ul data-role='listview' data-inset='true'>
      <li><a href='#sync'>Sync</a></li>
      <li><a href='#about'>About</a></li>
    </ul>
  </div><!-- /content -->

</div><!-- /page -->

<div data-role='page' id='room_map'>
  <img class='map' src='<%= image_path('room_map.jpg') %>' width='946' height='1150'>
  <img class='dot' src='<%= image_path('dot.gif') %>'>
</div>

<div data-role='page' id='search'>

  <div data-role='header'>
    <h1>Search</h1>
    <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
  </div><!-- /header -->

  <div data-role='content'>
    <p class='notification'></p>

    <div style='margin-bottom: 2em;'>
      <input type="search" name="search" id="searc-basic" value="" />
    </div>

    <ul data-role='listview' class='sessions_list'></ul>
  </div><!-- /content -->

</div><!-- /page -->

<div data-role='page' id='sync'>
  <div data-role='header'>
    <h1>Session Sync</h1>
    <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
  </div><!-- /header -->

  <div data-role='content'>

    <a href="javascript:Database.refreshFromServer()" data-role="button" data-icon="Refresh">Refresh Sessions</a>

    <ul data-role='listview' data-inset='true'>
      <li>CodeMash Session Data</li>
      <li class='apiLog'><p></p></li>
      <li>
        <p style='padding-top: 10px; overflow: visible; white-space: normal;'>Want to copy your favorited sessions to another device? Right click
          on <a id='saveLink' href='#'>this link</a>, paste in an email, and
          open on your other device.</p>
      </li>
    </ul>

    <ul data-role='listview' data-inset='true'>
      <li>HTML5 Offline Cache</li>
      <li class='appCacheLog'><p></p></li>
    </ul>

  </div>

</div>

<div data-role='page' id='about'>
  <div data-role='header'>
    <h1>About</h1>
    <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
  </div><!-- /header -->

  <div data-role='content'>

    <p>iCodeMash 2014 is a slick and simple HTML5 web app that caches itself offline, automatically updates, and periodically polls the CodeMash JSON api for session information. It is served up by Rails 3.1 running on Heroku.</p>

    <p>Use the full text search or browse the schedule and mark the ones you think you'll attend as "favorites". Tap on a session's room name when viewing its details to see a map of the convention center with a red dot on the room. Comments or questions? <a href="http://twitter.com/jonathanpenn">Let me know</a>!</p>

    <p>Curious how it works? Download the <a href="https://github.com/jonathanpenn/icodemashschedule">source</a> and enjoy!</p>

    <p>Written and directed by <a href="http://twitter.com/jonathanpenn">Jonathan Penn</a></p>

    <p>Thanks to <a href="http://twitter.com/rbeiter">Randy Beiter</a> for updating it to 2014!</p>

  </div>

</div>

<script type='text/template' id='sessions_list_template'>
  <div data-role='header'>
    <h1><%%= navBarTitle %></h1>
    <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
  </div><!-- /header -->

  <div data-role='content'>
    <ul data-role='listview' class='sessions_list'></ul>
  </div><!-- /content -->
</script>

<script type='text/template' id='sessions_list_item_template'>
  <a href='<%%= href %>'>
    <%%= favoriteIcon %>
    <div class='title'><%%= title %></div>
    <div class='wherewhen'>
      <%%= when %>
      <%%= room %>
    </div>
    <div class='speaker'><%%= speakerName %></div>
    <div class='extra'><%%= extra %></div>
  </a>
</script>

<script type='text/template' id='session_hour_list_page_template'>
  <div data-role='page'>

    <div data-role='header'>
      <h1>Timeslots</h1>
      <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' data-inset='true' class='hour_list'></ul>
    </div><!-- /content -->

  </div><!-- /page -->
</script>

<script type='text/template' id='sessions_hour_list_item_template'>
  <a href='<%%= href %>'> <%%= title %> </a>
</script>

<script type='text/template' id='session_list_page_template'>
  <div data-role='page'>

    <div data-role='header'>
      <h1>Session List</h1>
      <%= image_tag('ajax-loader.gif', class: 'sync-status') %>
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' class='sessions_list'></ul>
    </div><!-- /content -->

  </div><!-- /page -->
</script>

<script type='text/template' id='session_detail_page_template'>
  <div data-role='content' class='session_detail'>
    <a href='#' class='favoriteSwitch'><%%= favoriteIcon %></a>
    <h2><%%= title %></h2>
    <div class='speaker'><%%= speaker %></div>

    <ul data-role='listview' data-inset='true'>
      <li class='room col'>
        <a href='#'><label>Where</label><%%= room %></a>
      </li>
      <li class='when col'>
        <a href='#'><label>When</label><%%= when %></a>
      </li>
      <li class='technology col'><label>Tech</label><%%= technology %></li>
      <li class='difficulty col'><label>Difficulty</label><%%= difficulty %></li>
      <li class='abstract'>
        <label>Abstract</label>
        <%%= abstract %>
      </li>
    </ul>

  </div><!-- /content -->
</script>

<script type='text/template' id='cache_version'>
  <%= CacheManifest.cache_version %>
</script>

