:plain
  <script>
    if (location.href.search(/#/) !== -1) location.href = '/';
  </script>

  <div data-role='page' id='home_page'>

    <div data-role='header'>
      <h1>CodeMash 2012</h1>
      #{ image_tag('ajax-loader.gif', class: 'sync-status') }
    </div><!-- /header -->

    <div data-role='content'>
      <p style='text-align: center'><em>Beta Version</em></p>
      <ul data-role='listview' data-inset='true'>
        <li><a class='favorites-link' href='#favorites'>#{ image_tag('fav_on.png', width: '16', height: '16', class: 'ui-li-icon') }Favorites</a></li>
        <!--<li><a href='#search'>Search</a></li>-->
      </ul>

      <ul data-role='listview' data-inset='true'>
        <li><a class='precompiler-link' href='#precompiler_sessions'>Precompiler</a></li>
        <li><a class='thursday-link' href='#thursday_sessions'>Thursday</a></li>
        <li><a class='friday-link' href='#friday_sessions'>Friday</a></li>
      </ul>

      <ul data-role='listview' data-inset='true'>
        <li><a href='#sync'>Sync</a></li>
      </ul>
    </div><!-- /content -->

  </div><!-- /page -->

  <div data-role='page' id='room_map'>
    <img class='map' src='#{ image_path('room_map.jpg') }' width='946' height='1150'>
    <img class='dot' src='#{ image_path('dot.png') }'>
  </div>

  <div data-role='page' id='sync'>
    <div data-role='header'>
      <h1>Session Sync</h1>
      #{ image_tag('ajax-loader.gif', class: 'sync-status') }
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' data-inset='true'>
        <li>HTML5 Offline Cache</li>
        <li class='appCacheLog'></li>
      </ul>

      <ul data-role='listview' data-inset='true'>
        <li>CodeMash Session Data</li>
        <li class='apiLog'></li>
      </ul>

      <a href="javascript:Database.refreshFromServer()" data-role="button" data-icon="Refresh">Refresh Sessions</a>
    </div>

  </div>

  <script type='text/template' id='sessions_list_template'>
    <div data-role='header'>
      <h1><%= navBarTitle %></h1>
      #{ image_tag('ajax-loader.gif', class: 'sync-status') }
    </div><!-- /header -->

    <div data-role='content'>
      <ul data-role='listview' class='sessions_list'></ul>
    </div><!-- /content -->
  </script>

  <script type='text/template' id='sessions_list_item_template'>
    <a href='<%= href %>'>
      <%= favoriteIcon %>
      <div class='title'><%= title %></div>
      <div class='wherewhen'>
        <%= when %>
        <%= room %>
      </div>
      <div class='speaker'><%= speakerName %></div>
    </a>
  </script>

  <script type='text/template' id='session_hour_list_page_template'>
    <div data-role='page'>

      <div data-role='header'>
        <h1>Timeslots</h1>
        #{ image_tag('ajax-loader.gif', class: 'sync-status') }
      </div><!-- /header -->

      <div data-role='content'>
        <ul data-role='listview' data-inset='true' class='hour_list'></ul>
      </div><!-- /content -->

    </div><!-- /page -->
  </script>

  <script type='text/template' id='sessions_hour_list_item_template'>
    <a href='<%= href %>'> <%= title %> </a>
  </script>

  <script type='text/template' id='session_list_page_template'>
    <div data-role='page'>

      <div data-role='header'>
        <h1>Session List</h1>
        #{ image_tag('ajax-loader.gif', class: 'sync-status') }
      </div><!-- /header -->

      <div data-role='content'>
        <ul data-role='listview' class='sessions_list'></ul>
      </div><!-- /content -->

    </div><!-- /page -->
  </script>

  <script type='text/template' id='session_detail_page_template'>

    <div data-role='content' class='session_detail'>
      <a href='#' class='favoriteSwitch'><%= favoriteIcon %></a>
      <h2><%= title %></h2>
      <div class='speaker'><%= speaker %></div>

      <ul data-role='listview' data-inset='true'>
        <li class='room col'>
          <a href='#'><label>Where</label><%= room %></a>
        </li>
        <li class='when col'>
          <a href='#'><label>When</label><%= when %></a>
        </li>
        <li class='technology col'><label>Tech</label><%= technology %></li>
        <li class='difficulty col'><label>Difficulty</label><%= difficulty %></li>
        <li class='track col'><label>Track</label>&nbsp;<%= track %></li>
        <li class='abstract'>
          <label>Abstract</label>
          <%= abstract %>
        </li>
      </ul>

    </div><!-- /content -->
  </script>

